body{
    background-color: white;
}
/* #identity{
    background-color: black;
} */
li{
list-style: none;
color: black;
}
#listDate, #listDateFormation, #allContact{
    margin-top: 60px;
}
#adress, #phone, #mail, #social{
    margin-bottom: 20px;
}
/* #profile{
    /* float: right; */
    height: 1%;
    /* width: auto; */
} */
/* #logo{
    width: 7%;
    height: auto;
} */